body{
    background:rgba(143, 222, 58, 0.814);
    font-family: "Orbitron", sans-serif;

}
.orbitron-uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #3a6a3c; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    margin: 200px 20px;
    cursor: pointer;
    border-radius: 12px;
}

.color-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 0.1px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;



}

.fa-solid {
    color: rgb(99, 209, 198);
    font-size: 30px;
    margin-top: 10px;
}
.world-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 300px;
}
.fa-solid.fa-earth-americas {
    color:rgb(77, 48, 25);
}
.math-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 300px;
}
.fa-solid.fa-calculator {
    color:rgba(238, 179, 78, 0.888);
}





.gallery-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow:hidden;
    
   
}
.gallery-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}