body{
    background:rgba(143, 222, 58, 0.814);
    font-family: "Orbitron", sans-serif;

}
.orbitron-uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #3a6a3c; 
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    margin: 100px 20px;
    cursor: pointer;
    border-radius: 12px;
}

.color-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 1px;
    width: 300px;

    text-align: center;
    display: block;



}

.resource-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 10px;
    width: 400px;
}


.fa-solid.fa-earth-americas {
    color:rgb(152, 89, 200);
}

.world-box,
.math-box,
.science-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 10px;
    width: 500px;
    text-align: center;
    height: 400px;
    display: block;
    justify-content: center;
    font-size: 1.2em;
}
p {
    font-family: "Orbitron", sans-serif;
    font-size: 1.2em;
}

.lesson-material-box {
    background-color:seashell;
    border-radius: 12px;
    padding: 10px;
    width: 500px;
    text-align: center;
    height: 600px;
    display: block;
    justify-content: center;
    font-size: 1.2em;
    margin-left: 250px;
}

.fa-solid.fa-calculator {
    color:rgba(255, 153, 50, 0.888);
    font-size: 20px;
}
.fa-solid.fa-school {
    color:rgb(101, 53, 10);
    font-size: 20px;
}
.fa-solid.fa-flask {
    color: rgb(123, 255, 191);
}
.main-content {
    display: flex;
    gap:100px;
    justify-content: flex-start;
    align-items: flex-start;
}
.left-column {
    display: flex;
    flex-direction: column;
    gap: 200px;
    
}
.right-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}




.gallery-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow:hidden;
    
   
}
.gallery-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}